      body {
        font-family: 'Avenir Next';
      }
      h3 {
        font-weight: normal;
      }
      h4 {
        font-size: 20pt;
      }
      p {
        font-size: 18pt;
      }
      .remark-code, .remark-inline-code {
        font-family: 'Menlo';
      }
      .remark-code {
        font-size: 1.5em;
      }
      .small-code .remark-code {
        font-size: 1.3em;
      }
      ol, ul {
        font-size: 1.5em;
      }

      a.reveal {
        font-weight: bold;
      }

      a.reveal:hover {
        cursor:pointer;
      }

      .question {
        color: white;
        background-color: black;
      }

      .red {
        color: red;
      }

      .green {
        color: green;
      }

      .consecutive pre {
        margin-top: 0;
        margin-bottom: 0;
      }
      .small {
        font-size: 0.7em;
      }
      pre {
        font-size: 0.95em;
      }
      table {
        font-size: 1.2em;
      }
      th, td {
        padding: 15px;
      }
