<div class="control has-icons-left">
  <div class="select is-fullwidth is-small">
    <select name="{{name}}">
      % if defined('oznaka'):
        <option disabled selected>{{oznaka}}</option>
      % end
      <option value="">
        nerazporejeno
      </option>
      % for id_kuverte, kuverta in enumerate(proracun.kuverte):
        <option value="{{id_kuverte}}">
          kuverta {{kuverta.ime}}
        </option>
      % end
    </select>
  </div>
  <span class="icon is-small is-left">
    <i class="{{icon}}"></i>
  </span>
</div>
