% rebase('base.html', izbrani_zavihek='proracun')

<div class="columns">
  <div class="column is-one-fifth">
    <nav class="panel">
      <p class="panel-heading">
        <i class="fas fa-exchange-alt"></i>
        Premakni denar
      </p>
      % include('_prikaz_stanja.html', ime='nerazporejeno', stanje=proracun.nerazporejena_sredstva())
      <div class="panel-block">
        <form action="/premakni-denar/" method="POST">
          <div class="field">
            % include('_izberi_kuverto.html', name='kuverta1', oznaka='iz kuverte', icon='fas fa-sign-out-alt')
          </div>
          <div class="field">
            % include('_izberi_kuverto.html', name='kuverta2', oznaka='v kuverto', icon='fas fa-sign-in-alt')
          </div>
          <div class="field has-addons">
            <div class="control">
              % include('_izberi_znesek.html', name='znesek')
            </div>
            <div class="control">
              <button class="button is-info is-small">premakni</button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    <nav class="panel">
      <p class="panel-heading">
        <i class="fas fa-envelope"></i>
        Kuverte
      </p>
      % for kuverta in proracun.kuverte:
      % include('_prikaz_stanja.html', ime=kuverta.ime, stanje=kuverta.stanje())
      % end
      <div class="panel-block">
        <form action="/dodaj-kuverto/" method="POST">
          <div class="field has-addons">
            <div class="control">
              <input class="input is-small" type="text" placeholder="ime kuverte" name="ime">
            </div>
            <div class="control">
              <input type="submit" class="button is-small" value="dodaj">
            </div>
          </div>
        </form>
      </div>
    </nav>
    <nav class="panel">
      <p class="panel-heading">
        <i class="fas fa-piggy-bank"></i>
        Računi
      </p>
      % for racun in proracun.racuni:
      % include('_prikaz_stanja.html', ime=racun.ime, stanje=racun.stanje())
      % end
      <div class="panel-block">
        <form action="/dodaj-racun/" method="POST">
          <div class="field has-addons">
            <div class="control">
              <input class="input is-small" type="text" placeholder="ime računa" name="ime">
            </div>
            <div class="control">
              <input type="submit" class="button is-small" value="dodaj">
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <div class="column">
    % if not obiskal_pomoc:
      <h2>Ne pozabi na odlično napisano stran s pomočjo</h2>
    % end
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>datum</th>
          <th>račun</th>
          <th>kuverta</th>
          <th>znesek</th>
          <th>opis</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <form action="/dodaj-transakcijo/" method="POST">
          <tr>
            <td>
              % include('_izberi_datum.html', name='datum')
            </td>
            <td>
              % include('_izberi_racun.html', name='racun')
            </td>
            <td>
              % include('_izberi_kuverto.html', name='kuverta', icon='fas fa-envelope')
            </td>
            <td>
              % include('_izberi_znesek.html', name='znesek')
            </td>
            <td>
              <div class="control has-icons-left">
                <input class="input is-small" type="text" name="opis" placeholder="opis">
                <span class="icon is-small is-left">
                  <i class="far fa-sticky-note"></i>
                </span>
              </div>
            </td>
            <td>
              <div class="control">
                <button class="button is-info is-small">dodaj</button>
              </div>
            </td>
          </tr>
        </form>
        % for transakcija in sorted(proracun.transakcije(), key=lambda transakcija: transakcija.datum, reverse=True):
        <tr>
          <td>{{transakcija.datum}}</td>
          <td>{{transakcija.racun.ime}}</td>
          <td>
            % if transakcija.kuverta is None:
            nerazporejeno
            % else:
            {{transakcija.kuverta.ime}}
            % end
          </td>
          <td>
            % include('_prikaz_zneska.html', znesek=transakcija.znesek)
          </td>
          <td>{{transakcija.opis}}</td>
          <td></td>
        </tr>
        % end
      </tbody>
    </table>
  </div>
</div>