<h1>✉️✉️✉️KUVERTE✉️✉️✉️</h1>
<h2>Najboljši program na svetu</h2>

Skupaj imaš {{ proracun.stanje() }} evrov. Tvoji računi so
<ul>
% for id_racuna, racun in enumerate(proracun.racuni):
    <li>
        <a href="/racun/{{ id_racuna }}/">{{ racun.ime }}</a>: {{ racun.stanje() }}
        <form action="/nalozi/{{ id_racuna }}/" method="POST">
            <input name="znesek" placeholder="Znesek…" value="10">
            <input name="opis" placeholder="Opis…" value="od babice">
            <button>Naloži</button>
        </form>
    </li>
% end
</ul>