<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Opravila</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <nav class="navbar is-light">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-item">
          <span class="icon">
            <i class="fas fa-clipboard-check"></i>
          </span>
          <strong>Opravila</strong>
        </span>
      </div>
      <div class="navbar-end">
        % if uporabnisko_ime:
        <form method="POST" action="/odjava/">
          <input type="submit" value="Odjava">
        </form>
      % else:
          <a class="navbar-item" href="/prijava/">
            <span class="icon">
              <i class="fab fa-user"></i>
            </span>
            <span>Prijava</span>
          </a>
        % end
        <a class="navbar-item"
          href="https://github.com/matijapretnar/uvod-v-programiranje/tree/master/projekti/opravila">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </nav>
  <section class="section">
    {{!base}}
  </section>
</body>

</html>