<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>datum</th>
      <th>račun</th>
      <th>kuverta</th>
      <th>znesek</th>
      <th>opis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <form action="/dodaj-preliv/" method="POST">
      <tr>
        <td></td>
        <td>
          % include('_izberi_racun.html', id='racun')
        </td>
        <td>
          % include('_izberi_kuverto.html', id='kuverta')
        </td>
        <td>
          % include('_izberi_znesek.html', id='znesek')
        </td>
        <td>
          <input type="text" id="opis" name="opis">
        </td>
        <td>
          <input type="submit" value="dodaj preliv">
        </td>
      </tr>
    </form>
    % for preliv in sorted(proracun.prelivi, reverse=True):
    <tr>
      <td>{{preliv.datum}}</td>
      <td>{{preliv.racun.ime}}</td>
      <td>
        % if preliv.kuverta is None:
        nerazporejeno
        % else:
        {{preliv.kuverta.ime}}
        % end
      </td>
      <td>{{preliv.znesek}}</td>
      <td>{{preliv.opis}}</td>
      <td></td>
    </tr>
    % end
  </tbody>
</table>
