% zavihki = [
%     'proracun',
%     'analiza',
%     'pomoc'
% ]
% oznaka_zavihka = {
%     'proracun': 'Vodenje proračuna',
%     'analiza': 'Analiza porabe',
%     'pomoc': 'Pomoč'
% }
% ikona_zavihka = {
%     'proracun': 'fas fa-wallet',
%     'analiza': 'fas fa-chart-line',
%     'pomoc': 'far fa-question-circle'
% }
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proračunovodja – {{oznaka_zavihka[izbrani_zavihek]}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar is-light">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item">
            <span class="icon">
              <i class="fas fa-money-bill-wave"></i>
            </span>
            <strong>Proračunovodja</strong>
          </span>
        </div>
        <div class="navbar-start">
          % for zavihek in zavihki:
          % if zavihek == izbrani_zavihek:
            <a class="navbar-item is-active" href="/{{zavihek}}/">
          % else:
            <a class="navbar-item" href="/{{zavihek}}/">
          % end
            <span class="icon">
              <i class="{{ikona_zavihka[zavihek]}}"></i>
            </span>
          <span>{{oznaka_zavihka[zavihek]}}</span>
          </a>
          % end
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/matijapretnar/uvod-v-programiranje/tree/master/datoteke-s-predavanj/2019-20/proracunovodja">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
          <span>GitHub</span>
          </a>
        </div>
      </div>
    </nav>
    <section class="section">
      {{!base}}
    </section>
  </body>
</html>
