% rebase('osnova.html')

<h1><pre>
______                     ___                                 _ _       
| ___ \                    \_/                                | (_)      
| |_/ / __ ___  _ __ __ _  ___ _   _ _ __   _____   _____   __| |_  __ _ 
|  __/ '__/ _ \| '__/ _` |/ __| | | | '_ \ / _ \ \ / / _ \ / _` | |/ _` |
| |  | | | (_) | | | (_| | (__| |_| | | | | (_) \ V / (_) | (_| | | (_| |
\_|  |_|  \___/|_|  \__,_|\___|\__,_|_| |_|\___/ \_/ \___/ \__,_| |\__,_|
                                                               _/ |      
                                                              |__/
</pre></h1>

<h1>Stanje računov</h1>
<ul>
    % for racun in proracun.racuni:
    <li>{{racun.ime}}: {{racun.stanje()}}</li>
    % end
</ul>

<h1>Stanje kuvert</h1>
<ul>
    % for kuverta in proracun.kuverte:
    <li>{{kuverta.ime}}: {{kuverta.stanje()}}</li>
    % end
</ul>
<strong>
    Nerazporejeno stanje: {{proracun.nerazporejena_sredstva()}}
</strong>

<form action="/dodaj/" method="POST">
    Ime računa: <input type="text" name="ime">
    <input type="submit" value="Dodaj račun!">
</form>