% rebase('osnova.html')

<h1><pre>
______                     ___                                 _ _       
| ___ \                    \_/                                | (_)      
| |_/ / __ ___  _ __ __ _  ___ _   _ _ __   _____   _____   __| |_  __ _ 
|  __/ '__/ _ \| '__/ _` |/ __| | | | '_ \ / _ \ \ / / _ \ / _` | |/ _` |
| |  | | | (_) | | | (_| | (__| |_| | | | | (_) \ V / (_) | (_| | | (_| |
\_|  |_|  \___/|_|  \__,_|\___|\__,_|_| |_|\___/ \_/ \___/ \__,_| |\__,_|
                                                               _/ |      
                                                              |__/
</pre></h1>

<strong>
  Nerazporejeno stanje: {{proracun.nerazporejena_sredstva()}}
</strong>
<form action="/premakni-denar/" method="POST">
  % include('_izberi_kuverto.html', id='kuverta1', oznaka='Premakni iz')
  % include('_izberi_kuverto.html', id='kuverta2', oznaka='Premakni v')
  % include('_izberi_znesek.html', id='znesek', oznaka='Znesek')
  <input type="submit" value="Premakni denar!">
</form>

<table class="table">
  <thead>
    <tr>
      <th>ime</th>
      <th>stanje</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    % for racun in proracun.racuni:
    <tr>
      <td>{{racun.ime}}</td>
      <td>{{racun.stanje()}}</td>
      <td></td>
    </tr>
    % end
    <form action="/dodaj-racun/" method="POST">
      <tr>
        <td><input type="text" id="ime" name="ime"></td>
        <td><input type="submit" value="dodaj račun"></td>
      </tr>
    </form>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>ime</th>
      <th>stanje</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    % for kuverta in proracun.kuverte:
    <tr>
      <td>{{kuverta.ime}}</td>
      <td>{{kuverta.stanje()}}</td>
      <td>
        <form action="/odstrani-kuverto/" method="POST" style="display: inline">
          <input type="hidden" name="kuverta" value="{{kuverta.ime}}">
          <input type="submit" value="odstrani">
        </form>    
      </td>
    </tr>
    % end
    <form action="/dodaj-kuverto/" method="POST">
      <tr>
        <td><input type="text" id="ime" name="ime"></td>
        <td><input type="submit" value="dodaj kuverto"></td>
      </tr>
    </form>
  </tbody>
</table>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>datum</th>
      <th>račun</th>
      <th>kuverta</th>
      <th>znesek</th>
      <th>opis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <form action="/dodaj-preliv/" method="POST">
      <tr>
        <td></td>
        <td>
          % include('_izberi_racun.html', id='racun')
        </td>
        <td>
          % include('_izberi_kuverto.html', id='kuverta')
        </td>
        <td>
          % include('_izberi_znesek.html', id='znesek')
        </td>
        <td>
          <input type="text" id="opis" name="opis">
        </td>
        <td>
          <input type="submit" value="dodaj preliv">
        </td>
      </tr>
    </form>
    % for preliv in sorted(proracun.prelivi, reverse=True):
    <tr>
      <td>{{preliv.datum}}</td>
      <td>{{preliv.racun.ime}}</td>
      <td>
        % if preliv.kuverta is None:
        nerazporejeno
        % else:
        {{preliv.kuverta.ime}}
        % end
      </td>
      <td>{{preliv.znesek}}</td>
      <td>{{preliv.opis}}</td>
      <td></td>
    </tr>
    % end
  </tbody>
</table>
