% rebase('osnova.html')

<h1><pre>
______                     ___                                 _ _       
| ___ \                    \_/                                | (_)      
| |_/ / __ ___  _ __ __ _  ___ _   _ _ __   _____   _____   __| |_  __ _ 
|  __/ '__/ _ \| '__/ _` |/ __| | | | '_ \ / _ \ \ / / _ \ / _` | |/ _` |
| |  | | | (_) | | | (_| | (__| |_| | | | | (_) \ V / (_) | (_| | | (_| |
\_|  |_|  \___/|_|  \__,_|\___|\__,_|_| |_|\___/ \_/ \___/ \__,_| |\__,_|
                                                               _/ |      
                                                              |__/
</pre></h1>

<h1>Stanje računov</h1>
<ul>
    % for racun in proracun.racuni:
    <li>{{racun.ime}}: {{racun.stanje()}}</li>
    % end
</ul>

<h1>Stanje kuvert</h1>
<strong>
    Nerazporejeno stanje: {{proracun.nerazporejena_sredstva()}}
</strong>
<ul>
    % for kuverta in proracun.kuverte:
    <li>{{kuverta.ime}}: {{kuverta.stanje()}}</li>
    % end
</ul>

<form action="/dodaj-preliv/" method="POST">
    % include('_izberi_znesek.html', id='znesek', oznaka='Znesek')
    % include('_izberi_kuverto.html', id='kuverta', oznaka='Kuverta')
    % include('_izberi_racun.html', id='racun', oznaka='Račun')
    <label for="opis">Opis: </label>
    <input type="text" id="opis" name="opis">
    <input type="submit" value="Premakni denar!">
</form>

<form action="/premakni-denar/" method="POST">
    % include('_izberi_kuverto.html', id='kuverta1', oznaka='Premakni iz')
    % include('_izberi_kuverto.html', id='kuverta2', oznaka='Premakni v')
    % include('_izberi_znesek.html', id='znesek', oznaka='Znesek')
    <input type="submit" value="Premakni denar!">
</form>

<form action="/dodaj-racun/" method="POST">
    <label for="ime">Ime računa: </label>
    <input type="text" id="ime" name="ime">
    <input type="submit" value="Dodaj račun!">
</form>

<form action="/dodaj-kuverto/" method="POST">
    <label for="ime">Ime kuverte: </label>
    <input type="text" id="ime" name="ime">
    <input type="submit" value="Dodaj kuverto!">
</form>

<form action="/odstrani-kuverto/" method="POST">
    % include('_izberi_kuverto.html', id='kuverta', oznaka='Kuverta', nerazporejeno=False)
    <input type="submit" value="Odstrani kuverto!">
</form>
